<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Gluestick</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="https://github.com/mhuckaby/gluestick/blob/master/README.md">About</a></li>
                </ul>
            </div>
        </div>
    </div> <!--navbar-inner-->
</div> <!--navbar navbar-fixed-top-->
<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Pastes</li>
						<% @pastes.each do |paste| %>
                        <li>
							<span>
								<span class='icon-share-alt'>&nbsp</span>
								<% # TODO remove this and apply remote=> true%>
								<a href='#' onclick='jqLinkTo(<%=paste.id%>)'>
									<span style="font-size:9pt;padding-top:0px;"><%=paste.created_at%></span>
								</a>

								<%= link_to(paste, :confirm=> 'Are you sure?', :method => :delete) do %>
									<span class='icon-trash'>&nbsp</span>
								<% end %>
							</span>
                        </li>
						<% end %>									
                    </ul>
                </div> <!--well-->
            </div><!--span3-->
       <%= form_for @paste do |f| %>			
    		<div class="span9">				
                <div class="well">
					<div id="validation-msg" class="alert alert-error" style="display:none;">
					  <a class="close" data-dismiss="alert" href="#">x</a>
					  <h4 class="alert-heading">Error</h4>
						<span>Paste cannot be null or empty</span>
					</div>
    				<%= f.text_area(:content, :class=>'pasteArea span12') %>
					<input type='button' class='btn btn-primary' value='Paste' onclick='validatePaste()'>
                </div>	
        	</div> <!--span9-->
		<% end %>
		</div>
    </div>
</div>

