<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Gluestick</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="https://github.com/mhuckaby/gluestick/blob/master/README.md">About</a></li>
                </ul>
            </div>
        </div>
    </div> <!--navbar-inner-->
</div> <!--navbar navbar-fixed-top-->
<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Pastes</li>
						<% @pastes.each do |paste| %>
                        <li>
							<span>
								<span class="badge badge-warning">&nbsp</span>
								<a href="#" onclick='jqLinkTo(<%=paste.id%>)'><span class="" style="font-size:9pt;padding-top:0px;"><%=paste.created_at%></span></a>
                                </span>
							</span>
                        </li>
						<% end %>									
						<!--
						<span class="label label-success">&nbsp&nbsp</span>
									<span class="label label-default">&nbsp&nbsp</span>
									<span class="label label-important">&nbsp&nbsp</span>
									<span class="label label-info">&nbsp&nbsp</span>
									<span class="label label-inverse">&nbsp&nbsp</span>
						-->
                    </ul>
                </div> <!--well-->
            </div><!--span3-->
       <%= form_for @paste do |f| %>			
    		<div class="span9">				
                <div class="well">					
    				<%= f.text_area(:content, :class=>'pasteArea span12') %>						
					<%= submit_tag("Paste", :class => 'btn btn-primary') %>             
                </div>	
        	</div> <!--span9-->
		<% end %>
		</div>
    </div>
</div>
