            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Pastes</li>
						<% @pastes.each do |paste| %>
                        <li>
							<span>
								<% # TODO remove this and apply remote=> true%>
								<a href='#' onclick='jqLinkTo(<%=paste.id%>)'>
									<span style="font-size:9pt;padding-top:0;"><%=paste.created_at%></span>
								</a>

                                <a href='/pastes/<%=paste.id%>/edit' onclick='jqLinkTo(<%=paste.id%>)'>
                                    <span class='icon-edit'></span>
                                </a>

								<%= link_to(paste, :confirm=> 'Are you sure?', :method => :delete) do %>
									<span class='icon-trash'>&nbsp</span>
								<% end %>

							</span>
                        </li>
						<% end %>									
                    </ul>
                </div> <!--well-->
            </div><!--span3-->
       <%= form_for @paste do |f| %>			
    		<div class="span9">				
                <div class="well">
					<div id="validation-msg" class="alert alert-error" style="display:none;">
					  <a class="close" data-dismiss="alert" href="#">x</a>
					  <h4 class="alert-heading">Error</h4>
						<span>Paste cannot be null or empty</span>
					</div>
    				<%= f.text_area(:content, :class=>'pasteArea span12') %>
					<input id="paste_button" type='button' class='btn btn-primary' value='Paste' onclick='validatePaste()'>
                </div>	
        	</div> <!--span9-->
		<% end %>

